<div class="exchange_box">
  <div class="card">
    <div class="card-header text-center">
      Simule sua conversão
    </div>
    <div class="card-block">
      <%= form_tag("/exchange", method: "post", id: "exchange_form") do %>
          <div class="local_currency">
            <div class="form-group">
              <p class="title">Moeda Local</p>
              <%= select_tag "currency", options_for_select(currency_select, "BRL"), class: "form-control", id: "currency" %>
            </div>
            <div class="form-group">
              <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantidade ($10)" step="any" required>
            </div>
          </div>
          <div class="destination_currency">
            <div class="form-group">
              <div class="row">
                <div class="col-8">
                  <p class="title">Moeda Pretendida</p>
                </div>
                <div class="col toggle-currency text-right">
                  <a id="btn-toggle" title="Alterne as moedas"><%= fa_icon "exchange" %></a>
                </div>
              </div>
              <%= select_tag "currency_destination", options_for_select(currency_select, "EUR"), class: "form-control", id: "currency_destination" %>
            </div>
            <div class="form-group cssload-container">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" id="result" name="result" class="form-control " placeholder="Resultado" readonly>
                <div id="loading-result" class="cssload-speeding-wheel"></div>
              </div>

            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>